<div class="menu-section">
  <ul>
      <li><a href="{{ site.silo_url }}/sobre/" target="_blank">
        sobre
      </a></li>
      <li><a href="{{ site.silo_url }}/quem-somos/" target="_blank">
        quem somos
      </a></li>
      <li><a href="{{ site.silo_url }}/noticias/" target="_blank">
        notícias
      </a></li>
  </ul>
</div>
<div class="menu-section">
  <ul>
      <li><a href="{{ site.silo_url }}/caipiratechlab/" target="_blank">
        Caipiratech LAB
      </a></li>
      <li><a href="{{ site.silo_url }}/encontrada/" target="_blank">
        Encontrada
      </a></li>
      <li><a href="{{ site.silo_url }}/residencia/" target="_blank">
        Residência
      </a></li>
      <li><a href="{{ site.silo_url }}/labs/" target="_blank">
        Laboratórios
      </a></li>
  </ul>
</div>
<div class="menu-section">
  {% include social-icons.html %}
</div>
